@model IEnumerable<FoodCityBackstage.Models.User>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        @*用户名<br>*@
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>

                            <input type="text" class="form-control" id="text1"  placeholder="用户名"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <button class="btn  btn-success" type="button" onclick="Search()">查    询</button>
                @*<button class="btn  btn-default" type="button" id="btn_create">添    加</button>*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <!-- START SIMPLE DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户管理</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <table class="table datatable_simple" id="assets-data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                            <th>上次登录时间</th>
                            <th>注册时间</th>
                            <th>权限级别</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                        @foreach (var asset in Model)
                        {
                        <tr>
                            <td>@asset.UserID.ToString()</td>
                            <td>@asset.UserName</td>
                            <td>@asset.Tel</td>
                            <td>@asset.Email</td>
                            <td>@asset.Lastlogin</td>
                            <td>@asset.CreatTime</td>
                            <td>@asset.Grade</td>
                            <td>@asset.State</td>
                            <td>
                                <a class="btn btn-primary" id="fh" onclick="Fjin('@asset.UserID')">封禁</a>
                                <a class="btn btn-primary" id="jf" onclick="Jfeng('@asset.UserID')">解封</a>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SIMPLE DATATABLE -->
    </div>
</div>
<script>
   
    function Search() {
        var username = $("#text1").val();
        window.location = '@Url.Action("Index","User")' + '?UserName=' + username +'&s=1';
    }
   function Fjin(id)
   {
       $.ajax({
           url: "@Url.Action("Fhao")",
           type: "post",
           data: { Id:id },
           success: function (data) {
               alert(data);
               location.reload();
           }

       })
      
    }
    function Jfeng(id) {
         $.ajax({
           url: "@Url.Action("Jfeng")",
           type: "post",
           data: { Id:id },
           success: function (data) {
               alert(data);
               location.reload();
           }

       })
    }
</script>